
html {
    background-color: var(--theme-color-1);
    text-align: center;
    color: rgb(223, 223, 223);
}


:root{
    --theme-color-1: #1d2b3f;
    --theme-color-2: #1f2937;
    --theme-color-3: #2dd4bf; 
    --border-color-1: #919191;
}

body {
    margin: 0;
    color: white;
    font-family: "Inter var", sans-serif
}



#app {
    display: grid;
    height: 100vh;
    margin: 0;
    text-align: center;
    grid-template-areas:
        "nav controls"
        "nav main";
        grid-auto-columns: max-content;
}

#app>nav {
    grid-area: nav;
    min-width: 50px;
    padding: 0;
    background-color: var(--theme-color-2);
    height: 100%;
}

#app>main {
    grid-area: main;
    
}

h4{
    
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

button{
    cursor: pointer;
}